---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<h2>Categories</h2>
 <section class="kategorier-grid">
    <a class="kat" href="/productlist">Accessories</a>
    <a class="kat" href="/productlist">Apparel</a>
    <a class="kat" href="/productlist">Footwear</a>
    <a class="kat" href="/productlist">Free Items</a>
    <a class="kat" href="/productlist">Personal Care </a>
    <a class="kat" href="/productlist">Sporting Goods </a>
</section>
</Layout>

<style>
	.kategorier-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin: 6rem;
  }

  .kat {
    background-color: rgb(243, 237, 230);
    text-decoration: none;
    color: black;
    padding: 6rem;
    border-radius: 15px;
    text-align: center;
  }
  .kat:hover {
    background-color: rgb(242, 237, 206);
    transform: translateY(-5px); /* løfter kortet */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
  }

  h2 {
    font-size: 3rem;
    padding-left: 2rem;
    padding-top: 5rem;
  }
</style>
